@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

body {
  background-color: #eaeced;
}

.bg-banner {
  background-image: url('./assets/be-a-merchant-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

}

@keyframes textColorCycle {
  0% {
    color: #EF4444; 
  }
  25% {
    color: #F59E0B; 
  }
  50% {
    color: #10B981; 
  }
  75% {
    color: #3B82F6;
  }
  100% {
    color: #EF4444;
  }
}

.text-color-cycle {
  animation: textColorCycle 4s linear infinite;
}
